# Module 3: Data Import and Manipulation

## 1. Loading Data into Jupyter Notebook:

In this section, we'll learn how to load data into Jupyter Notebook. We'll use Pandas to read a CSV file as an example.

In [1]:
!pip install pandas
!pip install seaborn
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl (11.0 MB)
     -------------------------------------- 11.0/11.0 MB 120.9 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.25.2)
Collecting python-dateutil>=2.8.2 (from pandas)
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     ------------------------------------ 502.5/502.5 kB 108.6 kB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------ 341.8/341.8 kB 163.3 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, python-dateutil, pandas
Successfully installed pandas-2.1.0 python-dateutil-2.8.2 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     -------------------------------------- 293.3/293.3 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\python311\lib\site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=0.25 in c:\python311\lib\site-packages (from seaborn) (2.1.0)
Collecting matplotlib!=3.6.1,>=3.1 (from seaborn)
  Using cached matplotlib-3.7.2-cp311-cp311-win_amd64.whl (7.5 MB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Using cached contourpy-1.1.0-cp311-cp311-win_amd64.whl (470 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Using cached fonttools-4.42.1-cp311-cp311-win_amd64.whl (2.1 MB)
Collecting kiwisolver>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Using cached kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
Requirement already satisfied: packaging>=20.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Python311\\share'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# 1. Loading Data into Jupyter Notebook

# To load data into Jupyter Notebook, we can use Pandas, a powerful data manipulation library.

# Import Pandas
import pandas as pd

# Let's load a sample CSV file into a Pandas DataFrame.
# You can replace 'sample_data.csv' with the path to your own data file.
df = pd.read_csv('sample_data.csv')

# Display the first few rows of the DataFrame to explore the data
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

## 2. Exploring and Cleaning Data with Pandas:

In this section, we'll explore and clean the loaded data using Pandas.

In [2]:
# 2. Exploring and Cleaning Data with Pandas

# Now that we've loaded data, let's explore and clean it.

# Check the shape of the DataFrame (number of rows and columns)
print("Shape of the DataFrame:", df.shape)

# Check the data types of columns
print("Data Types of Columns:")
print(df.dtypes)

# Basic statistics of numeric columns
print("Summary Statistics:")
print(df.describe())

# Check for missing values
print("Missing Values:")
print(df.isnull().sum())

# Drop rows with missing values (use with caution)
df_cleaned = df.dropna()

# Explore the cleaned DataFrame
print("Cleaned DataFrame:")
print(df_cleaned.head())

# Now, let's move on to data visualization.

Shape of the DataFrame: (100, 12)
Data Types of Columns:
Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object
Summary Statistics:
            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000
Missing Values:
Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64
Cleaned DataFrame:
   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

## 3. Data Visualization using Matplotlib and Seaborn:

In this section, we'll visualize the data using Matplotlib and Seaborn for data analysis.

In [ ]:
# 3. Data Visualization using Matplotlib and Seaborn

# Data visualization is a crucial part of data analysis. We'll use Matplotlib and Seaborn for this purpose.

# Import Matplotlib and Seaborn
import matplotlib.pyplot as plt
import seaborn as sns

# Let's create a simple scatter plot to visualize data
plt.figure(figsize=(8, 6))
sns.scatterplot(data=df_cleaned, x='Feature1', y='Feature2')
plt.title('Scatter Plot of Feature1 vs. Feature2')
plt.xlabel('Feature1')
plt.ylabel('Feature2')
plt.show()

# You can customize the plot further as needed.

# These are the essential steps for loading, exploring, cleaning, and visualizing data in Jupyter Notebook.